{% extends 'base.html.twig' %}

{% block title %}Tareas{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Tareas</h2>

    {{ include('task/partials/tasks_list.html.twig') }}
</div>
{% endblock %}
